{% extends 'members/base.html' %}

{% block content %}

  <div class="container">
    <h3>Edit Member Information</h3>
      <form id="edit_member_form" action="{% url 'members_app:save_member_info' %}" method="post">
        <div class="tile edit_form_align">
            {% csrf_token %}
          <div class="col_rw">
            <div class="row">
              <div class="form_fields">
                <label for="name1">Name 1:</label>
                <input type="text" id="name1" name="name1" value="{{member.name1}}" required>
                <input type="hidden" id="sort_by" name="sort_by" value="{{member.sort_by}}">
              </div>
              <div class="form_fields">
                <label for="byline">Byline:</label>
                <input type="text" id="byline" name="byline" value="{{member.byline}}">
              </div>
              <div class="form_fields">
                <label for="name2">Name 2:</label>
                <input type="text" id="name2" name="name2" value="{{member.name2}}">
              </div>
              <div class="form_fields">
                <label for="note">Note:</label>
                <input type="text" id="note" name="note" value="{{member.note}}">
              </div>
              <div class="form_fields">
                <label for="postal_code">Address 1:</label>
                <input type="text" id="address1" name="address1" value="{{member.address1}}">
              </div>
              <div class="form_fields">
                <label for="address2">Address 2:</label>
                <input type="text" id="address2" name="address2" value="{{member.address2}}">
              </div>
              <div class="form_fields">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" value="{{member.city}}">
              </div>
              <div class="form_fields">
                <label for="state">State:</label>
                <input type="text" id="state" name="state" value="{{member.state}}">
              </div>
              <div class="form_fields">
                <label for="postal_code">Postal Code:</label>
                <input type="text" id="postal_code" name="postal_code" value="{{member.postal_code}}">
              </div>
            </div>
          </div>
          <div class="col_rw">
            <div class="row">
              <div class="form_fields">
                <label for="email1">Email 1:</label>
                <input type="text" id="email1" name="email1" value="{{member.email1}}">
              </div>
              <div class="form_fields">
                <label for="email2">Email 2:</label>
                <input type="text" id="email2" name="email2" value="{{member.email2}}">
              </div>
              <div class="form_fields">
                <label for="phone_number1">Phone 1:</label>
                <input type="text" id="phone_number1" name="phone_number1" value="{{member.phone_number1}}">
              </div>
              <div class="form_fields">
                <label for="phone_number2">Phone 2:</label>
                <input type="text" id="phone_number2" name="phone_number2" value="{{member.phone_number2}}">
              </div>
              <div class="form_fields">
                <label for="membership_status">Member Status:</label>
                <select id="membership_status" name="membership_status">
                  <option value="Active"{% if member.membership_status|lower == 'active' %} selected{%endif%}>Active</option>
                  <option value="Inactive"{% if member.membership_status|lower == 'inactive' %} selected{%endif%}>Inactive</option>
                </select>
              </div>
              <div class="form_fields">
                <label for="membership_type">Member Type:</label>
                <select id="membership_type" name="membership_type">
                  <option value="Supporter" {% if member.membership_type|lower == 'supporter' %} selected {%endif%}>Supporter</option>
                  <option value="Volunteer" {% if member.membership_type|lower == 'volunteer' %} selected {%endif%}>Volunteer</option>
                  <option value="Honorary" {% if member.membership_type|lower == 'honorary' %} selected {%endif%}>Honorary</option>
                  <option value="PAM staff" {% if member.membership_type|lower == 'pam staff' %} selected {%endif%}>PAM staff</option>
                  <option value="Board Member" {% if member.membership_type|lower == 'board member' %} selected {%endif%}>Board Member</option>
                </select>
              </div>
              <div class="form_fields">
                <label for="role">Board Role, if applicable:</label>
                <input type="text" id="role" name="role" value="{{member.role}}">
              </div>
              <div class="form_fields">
                <label for="directory_optout">Directory Opt-out:</label>
                <input type="checkbox" id="directory_optout" name="directory_optout" {% if member.directory_optout %}checked{% endif %} value="{{member.directory_optout}}" style="width: auto;">
              </div>
              <div class="form_fields">
                <label for="needs_review">Needs Review:</label>
                <input type="checkbox" id="needs_review" name="needs_review" {% if member.needs_review %}checked{% endif %} value="{{member.needs_review}}" style="width: auto;">
              </div>
              <div class="form_fields">
                <label for="reason_for_review">Reason for Review:</label>
                <input type="text" id="reason_for_review" name="reason_for_review" value="{{member.reason_for_review|title}}"> <a href="#" id="clear_reason_lnk">clear</a>
              </div>
            </div>
            <hr>
              <div class="form_fields submit_btn">
                <button type="submit" class="" id="save_changes_btn"><b>Save Changes</b></button>&nbsp;&nbsp;&nbsp;
                <a href="{% url 'members_app:show_member_info' member.id %}">cancel</a>
              </div>
          </div>
        </div>
        <input type="hidden" id="member_id" name="member_id" value="{{member.id}}">
      </form>
  </div> <!-- end of 'container' -->

  <script type="text/javascript">
    save_changes_btn = document.querySelector('#save_changes_btn')
    q = document.querySelector('#q')
    search_btn.onclick = function() {
      window.location="{% url 'members_app:save_member_info' %}"
    }
    // q.addEventListener("keydown", function (event) { // listen for  key presses
    //     if (event.keyCode === 13) {                                 // '13' is the Enter/Return key
    //         search_btn.click()                                      // emulate button click
    //     }
    // })

    let clear_reason_lnk = document.querySelector('#clear_reason_lnk');
    let reason_for_review = document.querySelector('#reason_for_review');
    clear_reason_lnk.onclick = function (event) {
      reason_for_review.value = '';
      event.preventDefault()
    }
  </script>

  <script type="text/javascript">
    let membership_type = document.querySelector('#membership_type');
    let role = document.querySelector('#role');
    membership_type.onchange = function() {
      // alert(membership_type.value)
      if (membership_type.value == "Board Member") {
        document.getElementById("role").removeAttribute("disabled");
      }
      else {
        document.getElementById("role").setAttribute("disabled", true);
      }
    }
  </script>

  <script type="text/javascript">
    let needs_review = document.querySelector('#needs_review');
    needs_review.onclick = function() {
      if (needs_review.checked == false && reason_for_review.value != '') {
        alert("are you sure?");
      }
      if (needs_review.checked && reason_for_review.value == '') {
        alert("please enter a reason");
        document.getElementById("reason_for_review").setAttribute("required", true);
      }
      if (needs_review.checked == false) {
        document.getElementById("reason_for_review").removeAttribute("required");
      }
    }
    let name1 = document.querySelector('#name1');
    name1.onchange = function() {
      let lname1 = name1.value.split(' ').pop();
      sort_by.value = lname1;
    }
    window.onload = function() {
      if (membership_type.value == "Board Member") {
        document.getElementById("role").removeAttribute("disabled");
      } else {
        document.getElementById("role").setAttribute("disabled", true);
      }
      if (needs_review.checked) {
        document.getElementById("reason_for_review").setAttribute("required", true);
      } else if (needs_review.checked == false) {
        document.getElementById("reason_for_review").removeAttribute("required");
      }
      let lname1 = "{{member.name1}}".split(' ').pop();
      sort_by.value = lname1;
    }
  </script>

{% endblock %}
