{% extends 'members/base.html' %}

{% block content %}

  <div class="container">
    <div class="pagination_top" style="background-color: #cde;">
        <span class="step-links">
            {% if members.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ members.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ members.number }} of {{ members.paginator.num_pages }}.
            </span>

            {% if members.has_next %}
                <a href="?page={{ members.next_page_number }}">next</a>
                <a href="?page={{ members.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% if message == "changes_saved" %}
      <span class="message">Success! Your changes were saved.</span>
    {% endif %}
      {% for member in members %}
        <div class="tile">
          {% url 'members_app:needs_review' as needs_review_url %}
          {% if request.path == needs_review_url %}
          <div class="needs_review"><b>Needs Review</b>:<br><i>{{member.reason_for_review|title}}</i>
            <!-- <div class="edit_link"><a href="/members/edit_member_info/{{member.id}}/">Edit</a></div> -->
            <div class="edit_link"><a href="{% url 'members_app:edit_member_info' member.id %}">Edit</a></div>
          </div>
          {% endif %}
          <div class="col_ro">
            <div class="row">
              <span class="names_title">{{member.name1}}{% if member.byline %}<br><span class="byline">{{member.byline}}</span>{% endif %}{% if member.byline and member.name2 %}<br>{% endif %}{% if member.name2 %} and {{member.name2}}{% endif %}{% if member.note %}<div class="note">{{member.note}}</div>{% endif %}
            </div>
            <div class="row">
              {% if member.address1 != '' %}
              <div class="">{{member.address1}}</div>
              <div class="">{{member.address2}}</div>
              <div class="">{{member.city}}, {{member.state}} {{member.postal_code}}</div>
              {% endif %}
            </div>
            <div class="row">
              <div class="">{{member.email1}}</div>
              <div class="">{{member.email2}}</div>
            </div>
          </div>
          <div class="col_ro">
            <div class="row">
              <div class="">{% if member.phone_number1 %}{{member.phone_number1}}{% endif %}{% if member.phone_number2 %}, {{member.phone_number2}}{% endif %}</div>
              <!-- <div class="{% if member.membership_status == 'inactive' %}red_label{% endif %}">{{member.membership_status|title}} member</div> -->
              <div class="">{% if member.membership_type == 'PAM staff'%}{{member.membership_type}}{% else %}{{member.membership_type|title}}{% endif %} {% if member.membership_type == 'Board Member' %}({{member.role|title}}){% endif %}</div>
            </div>
          </div>
          {% url 'members_app:needs_review' as needs_review_url %}
          {% if request.path != needs_review_url %}
          <span><a href="{% url 'members_app:edit_member_info' member.id %}">edit</a></span>
          {% endif %}
        </div>
    {% endfor %}
    <div class="pagination_bottom">
        <span class="step-links">
            {% if members.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ members.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ members.number }} of {{ members.paginator.num_pages }}.
            </span>

            {% if members.has_next %}
                <a href="?page={{ members.next_page_number }}">next</a>
                <a href="?page={{ members.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
  </div>

{% endblock %}
